@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-plum: #301064;
    --plum: #553081;
    --plum-stain: #E1CFFF;
    --white-plum: #FAF6FF;
    --dolphin-gray: #7A86A9;
    --gray-100: #111010;
    --gray-90: #545454;
    --gray-75: #AFAFAF;
    --gray-50: #EDEDED;
    --gray-25: #F9F9F9;
    --red: #E24949;
    --sweet-mint-100: #11BB8D;
    --sweet-mint-75: #B3E3BD;
    --sweet-mint-50: #D9F2DE;
    --sweet-mint-25: #F3FFF6;
}

html {
    background: #FAF6FF;
    color: #111010;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo', sans-serif;
}

.transparent-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.transparent-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.transparent-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.character-container {
    width: calc(100% * 4);
    height: calc(100% * 4);
    animation: animateY 2s steps(4) infinite;
}

.character {
    height: 100%;
    width: 100%;
    animation: animated 0.5s steps(4) infinite;
}

.static-character-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.static-character {
    position: absolute;
    height: 100%;
    width: 400%;
    object-fit: cover;
    object-position: 25% 0;
}

.gradient {
    background: linear-gradient(135deg, #553081 0%, #301064 100%);
}

.dark-gradient {
    background: linear-gradient(135deg, #301064 0%, #111010 100%);
}

.mint-gradient {
    background: linear-gradient(135deg, #DBF5F0 0%, #40D9B0 100%);
}

.animate-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes animated {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes animateY {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}